<div class="container my-4">
    <div class="form">
        <div class="row mt-2">
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Country Code">
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="District">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Start Population">
            </div>
            <p>to</p>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="End Population">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <p>This is result</p>
    <ul class="list-group">
        <li class="list-group-item active">Get json string data from APi </li>
        <li class="list-group-item" *ngFor="let result of results">
          {{ data }}
        </li>
      </ul>
</div>

<!-- <router-outlet></router-outlet> -->