<div class="container my-4">
    <form class="form" #myForm="ngForm" (ngSubmit)="OnSubmit(myForm)">
        <div class="row mt-2">
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Name" 
                name="name"
                ngModel >
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Country Code" 
                name="countyCode"
                ngModel>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="District"
                name="district"
                ngModel>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Start Population">
            </div>
            <p>to</p>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="End Population">
            </div>
        </div>
        <div class="row">
            <div class="col">
                
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <li class="list-group-item active">Get json string data from APi </li>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Country Code</th> 
            <th>District</th>
          </tr>
        <tr *ngFor="let result of city">
          <th  > {{ result.name }}</th>
          <th > {{ result.countryCode }}</th> 
          <th > {{ result.district }}</th>
        </tr>
      </table>
    

    
           
       
</div>

<!-- <router-outlet></router-outlet> -->